

  <script type="text/javascript" src="/js/phaser.min.js"></script>
  <script type="text/javascript" src="/js/battle.js"></script>

  <canvas id="myCanvas" width="600" height="450">

    <img id="poke" scr="<%= @pokemon.pic %>">
    <img id="enemy"src="<%= @enemy_pokemon[:pic] %>">
  </canvas>
<p><%= @pokemon.pic %></p>
